.active-btn{
    opacity:1!important;
}
.skill-btn{
    background-color: transparent; 
    border-radius: 0;
}
.disabledClass{
    color:grey!important;
    pointer-events: none;
}
.passive-lock{
    font-size: 30px;
    color: white;
    position: relative;
    top:0;
    bottom: 0;
    height: 0px;
    width: 0px;
    line-height: 45px;
}
.inactive{
    opacity:0.3;
}
.skill-calc .skill_info span{
    color:orange;
}
.skill-calc .desc span{
    color:orange;
}
.skill-calc .skill_info div:not(:first-child) {
    color: green;
}
.skill-calc .info {
    padding-bottom: 10px;
}
.skill-calc .desc{
    padding:9px 0;
    margin:5px 0;
}
.skill-calc .skill_info .desc p{
    margin-top:-12px
}
.skill-calc .skill_info .effects+.effects{
    padding-top:10px
}
.skill-calc .req{
    padding-top:10px
}
.skill_info .effects:has(div){
    display:inline-block;
    width:100%
}
.skill_info .effects img{
    float:left;
    margin-right:10px
}
.skill_info .effects:has(div):after{
    content:"";
    width:100%;
    border:1px solid rgb(49,67,93);
    position:relative;
    display:block;
    margin-top:10px
}
.skill-Box .info:after{
    content:"";
    width:100%;
    border:1px solid rgb(49,67,93);
    position:relative;
    display:block;
    margin-top:10px
}
.skill-Box .block.desc:after{
    content:"";
    width:100%;
    border:1px solid rgb(49,67,93);
    position:relative;
    display:block;
    margin-top:10px
}
.skill_info p{
    margin-bottom:5px
}
.skill_info div+p{
    margin-top:5px
}
.skill-Box hr{
    border:1px solid rgb(49,67,93);
    border:none;
    size:0
}
.st_skill_icon{
    float:left;
    margin-right:10px
}
.skill_info img+img:before{
    content:"";
    background:red;
    width:100px;
    height:100px
}
.v-overlay-container .v-list{
    background-color: rgb(31, 43, 59)!important;
    color: rgb(255, 255, 255);
    border:1px solid rgb(49,67,93);
    border-radius: 8px;
}